* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    max-width: 100%;
}

/* ==========================================================================
    type-text
   ========================================================================== */

    a,button,p,h1,h4{
        font-family: sans-serif;
    }

    h1{
        font-size: 80px;
    }

    p{
        font-size: 20px;
    }


 

/* ==========================================================================
    Header
   ========================================================================== */

header{
    background-color: white;
    height: 80px;
    display: flex;
    position: sticky;

}
.logo{
    display: flex;
    align-items: center;
    margin: 0 0 0 50px
}
.margin-nav-left{
    display: flex;
    align-items: center;
    gap: 50px;
    margin: 0 50px;
}

.margin-nav-right{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-left: auto;
    margin-right: 50px;
}

button{
    height: 30px;
    width: 65px;
    border: none;
    font-size: 15px;
}

.buttom-white{
    background-color: white;
}

.buttom-blue{
    background-color: #0057e5;
    color: white;

}
/* ==========================================================================
    body
   ========================================================================== */

/* ==========================================================================
    Main
   ========================================================================== */


.container{
    display: flex;
    margin-bottom: 1px;
    background-color: rgb(180, 208, 231);
}
.nav-hero{
    background-color: rgb(180, 208, 231);
    margin-top: 95px;
    max-width: 1200px;
    display: flex;
    text-align: start;
}

.main-hero{
    background-color: rgb(180, 208, 231);
    height: 479px;
    display: flex;
}
.aside-text-hero{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgb(180, 208, 231);
    height: 479px;
    width: 390px;
    padding-top: 37px;
}

.aside-text-hero > p{
    font-size: 17px;
}

.buttom-aside{
    height: 46px;
    width:220px;
    border: none;
    color: white;
    background-color: rgb(0, 97, 255);

}

i{
    font-size: 50px;
}

.hero{
    background-color: rgb(180, 208, 231);
    width: 1200px;
    margin: 0 auto;
    
}

.img-jumbo{
    height: 100%;
    margin-top: 76px;
}



/* ==========================================================================
    cards
   ========================================================================== */
.plans{
    max-width: 1200px;
    width: 1000px;
    height: 1090px;
    background-color: white ;
    margin: auto;
    margin-top: 164px ;
}

h2{
    font-family: sans-serif;
    font-size: 40px;
}

.radios{
    font-size: 15px;
    font-family: sans-serif;
    display: flex;
    gap: 40px;
    margin-top: 76px;

}

.cards{
    margin-top: 56px;
    
}

.header-card{
    height: 39px;
    width: 298px;
    background-color: #ffffff;
    border-style: solid;
    border-width:1px 1px 0 1px;
    border-color: #d0d0d3;
    display: flex;
}

.card1{
    background-color: #ffffff;
    border-style: solid;
    border-width:1px;
    border-color: #d0d0d3;
    height: 911px;
    width: 298px;
}


.cards-heads{
    display: flex;
    justify-content: space-between;
}

.content-card{
    display: flex;
    justify-content: space-between;

}



.cards-heads i,p{
    font-size: 15px;
    display: flex;
    align-items: center;
}

.header-card{
    display: flex;
    justify-content: center;
}

.type-plan h4{
    font-size: 23px;
    
}

.type-plan *{
    font-size: 15px;
    font-family: sans-serif;
    margin: 20px 25px 20px 25px;
}

.checks *{
    font-size: 15px;
    font-family: sans-serif;
}
.big-card{
    margin-top: 50px;
}
.cards-heads-big{
    height: 39px;
    width: 1000px;
    background-color: #ffffff;
    border-style: solid;
    border-width:1px 1px 0 1px;
    border-color: #d0d0d3;
    display: flex;
    justify-content: center;
}

.content-big-card{
    background-color: #ffffff;
    border-style: solid;
    border-width:1px;
    border-color: #d0d0d3;
    height: 215px;
    width: 1000px;
}

.cards-heads-big i,p {
    font-size: 15px;
    display: flex;
    align-items: center;
}

/* ==========================================================================
    grid
   ========================================================================== */

.img-partner{
    height: 400px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row > * {
}


.col-70 {
    width: 60%;
}

.col-30 {
    width: 40%;
}

.container-patner{
    margin-top: 150px;
}

.container-patner h4{
    font-size: 23px;
    margin: 40px 0;
}

.container-patner p{
    font-size: 18px;
}


.text-aside-box{
    margin: 0 auto;
    margin-top: 55px;
    width: 300px;
    height: 500px;
}

.btn {
    font-family: sans-serif;
    color: #000000;
    font-size: 18px;
    width: 156px;
    height: 42px;
    background: #ffffff;
    border: solid #000000 1px;
    text-decoration: none;
    margin-top: 35px;
}

.btn:hover {
    background: #0061ff;
    text-decoration: none;
}

.Drop-box-business h2{
    margin-top: 169px;
    margin-bottom: 100px;
} 


.col-3{
    width: calc(100%/3);
    margin: 0 auto;
    padding: 30px;
}

.col-3 p{
    font-size: 17px;
}

/* ==========================================================================
    Members
   ========================================================================== */

.members-box{
    width: 100%;
    background-color: #0057e5;    
}
